@import "tailwindcss";

:root {
  --primary: #3925d5;
  --secondary: #17a766;

  font-family: "Poppins", sans-serif;
}

@theme {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
}
